body {
  background-color: #111E24;
}

#main-heading {
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
}

.container {
  position:relative;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  z-index: 2;
}

.background-image {
  width: 100%;
  position: sticky;
  opacity: 0.4;
}

#heading-1 {
  position: absolute;
  top: 125%;
  padding-left: 60%;
  padding-top: 5%;
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.problem {
  position: absolute;
  top: 150%;
  padding-left: 60%;
  padding-top: 5%;
  width: 32%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
}

#heading-2 {
  position: absolute;
  top: 250%;
  padding-left: 60%;
  padding-top: 5%;
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.solution {
  position: absolute;
  top: 290%;
  padding-left: 60%;
  padding-top: 5%;
  width: 32%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
}

#iphone-image {
  position: relative;
  top: 500%;
  width: 28%;
  padding-left: 60%;
}

.app-1-title {
  position: absolute;
  top: 370%;
  padding-left: 28%;
  padding-top: 10%;
  color: #93BAE3;
  width: 32%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-1-desc {
  position: absolute;
  top: 395%;
  padding-left: 28%;
  width: 20%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.app-2-title {
  position: absolute;
  top: 395%;
  padding-left: 28%;
  padding-top: 10%;
  color: #93BAE3;
  width: 32%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-2-desc {
  position: absolute;
  top: 420%;
  padding-left: 28%;
  width: 20%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.app-3-title {
  position: absolute;
  top: 420%;
  padding-left: 28%;
  padding-top: 10%;
  color: #93BAE3;
  width: 32%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-3-desc {
  position: absolute;
  top: 445%;
  padding-left: 28%;
  width: 20%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

#heading-3 {
  position: absolute;
  top: 475%;
  padding-left: 60%;
  padding-top: 5%;
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.benefits {
  position: absolute;
  top: 525%;
  padding-left: 60%;
  padding-top: 5%;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 22px;
}

.bottom-pattern {
  position: absolute;
  top: 510%;
  padding-left: 59.2%;
}

#menu {
  position: fixed;
  left: 0;
  top: 30%;
  width: 8em;
  margin-top: -2.5em;
  z-index: 1;
  font-family: 'Julius Sans One', sans-serif;
  list-style-type: none;
  line-height: 70px;
  color: white;
  font-size: 11px;
}

#menu > li > a {
  color: white;
  text-decoration: none;
}

#menu > li > a:hover {
  color: #93BAE3;
  text-decoration: underline;
}

#menu > li > a:active {
  font-size: 16px;
}

.current {
  color: #93BAE3 !important;
  text-decoration: underline !important;
}

html {
  scroll-behavior: smooth;
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
