body {
  background-color: #111E24;
}

#main-heading {
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
}

.container {
  position:relative;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
  margin: 0;
  opacity: 0.4;
}

.background-image {
  width: 100%;
  display: block;
  position: relative;
  top: 768px;
  opacity: 0.4;
}

#heading-1 {
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  padding-left: 59.3%;
  padding-top: 5%;
  top: 120%;
}

#heading-2 {
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  padding-left: 59.3%;
  padding-top: 5%;
  top: 240%;
}

#heading-3 {
  color: #93BAE3;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  padding-left: 59.3%;
  padding-top: 5%;
  top: 480%;
}

p {
  color: white;
  position: absolute;
  width: 435px;
  line-height: 25px;
  padding-left: 60%;
  padding-top: 22%;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
}

#iphone-image {
  position: relative;
  width: 28%;
  top: 810px;
  padding-left: 60%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  position: relative;
  top: 150px;
  width: 6%;
  left: 50px;
}

.app-1-title {
  font-family: 'Abel', sans-serif;
  color: #93BAE3;
  position: absolute;
  width: 350px;
  line-height: 25px;
  padding-left: 40%;
  padding-top: 10%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-1-desc {
  width: 264px;
  text-align: right;
  padding-left: 33%;
  padding-top: 14%;
  font-size: 13px;
  line-height: 20px;
}

.app-2-title {
  font-family: 'Abel', sans-serif;
  color: #93BAE3;
  position: absolute;
  width: 350px;
  line-height: 25px;
  padding-left: 40%;
  padding-top: 20%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-2-desc {
  width: 264px;
  text-align: right;
  padding-left: 33%;
  padding-top: 24%;
  font-size: 13px;
  line-height: 20px;
}

.app-2-div {
  margin-top: 50px;
}

.app-3-title {
  font-family: 'Abel', sans-serif;
  color: #93BAE3;
  position: absolute;
  width: 350px;
  line-height: 25px;
  padding-left: 43.5%;
  padding-top: 30%;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.app-3-desc {
  width: 264px;
  text-align: right;
  padding-left: 33%;
  padding-top: 34%;
  font-size: 13px;
  line-height: 20px;
}

.app-3-div {
  margin-top: 100px;
}

.bottom-pattern {
  position: absolute;
  padding-left: 59%;
  width: auto;
  padding-top: 15%;
}

#menu {
  position: fixed;
  left: 0;
  top: 30%;
  width: 8em;
  margin-top: -2.5em;
  z-index: 1;
  font-family: 'Julius Sans One', sans-serif;
  list-style-type: none;
  line-height: 70px;
  color: white;
  font-size: 11px;
}

#menu > li > a {
  color: white;
  text-decoration: none;
}

#menu > li > a:hover {
  color: #93BAE3;
  text-decoration: underline;
}

#menu > li > a:active {
  font-size: 16px;
}

.complete {
  color: #93BAE3 !important;
  text-decoration: underline !important;
}

html {
  scroll-behavior: smooth;
}
